html {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

header {
  background: url('../images/bg.jpg') no-repeat center center;
  background-size: 1900px 2533px;
  text-align: center;
  border-top: #224D91 .75rem solid;
  margin-bottom: 2rem;
}
ul {
  margin: 0;
  padding: 0;
}
p, li {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.75rem;
}
header h1 {
  color: white;
  text-shadow: .1rem .1rem 0 #303A40;
}
header h1 strong {
  display: block;
  text-transform: uppercase;
  letter-spacing: -.01rem;
}
section h1 {
  color: #414B4D;
}
section h2 {
  font-weight: 400;
  color: #4797E0;
}
section p, section li {
  color: #414B4D;
}
section a:link, section a:visited {
  color: #4797E0;
  font-weight: bold;
  text-decoration: none;
}
section a:hover {
  color: #414B4D;
  text-decoration: underline;
}
footer {
  background-color: #224D91;
  padding: 4rem 0;
  text-align: center;
  color: white;
}
footer li {
  display: inline-block;
}
footer a {
  color: white;
}
footer p a:hover {
  text-decoration: none;
}
.social-nav a:hover {
  color: #4087D5;
}

@media screen and (min-width: 1rem) {
  section {
    padding: 0 1.5rem;
  }
  section h1 {
    font-size: 1.25rem;
  }
  section:not(:first-of-type) h1{
    margin: 2rem 0 .25rem;
  }
  section h2 {
    font-size: 1rem;
  }
  section h2:not(:first-of-type) {
    margin-top: 2rem;
  }
  .social-nav li {
    margin: 0 1em;
  }
}

@media screen and (max-width: 25rem) {
  header {
    padding: 3rem 0;
  }
  header h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  header h1 strong {
    font-size: 2.25rem;
    line-height: 2.25rem;
  }
}

@media screen and (min-width: 25rem) and (max-width: 40rem) {
  header {
    padding: 3.5rem 0;
  }
  header h1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  header h1 strong {
    font-size: 3rem;
    line-height: 3rem;
  }
}

@media screen and (min-width: 40rem) {
  header {
    padding: 6em 0;
  }
  header h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  header h1 strong {
    font-size: 5rem;
    line-height: 5rem;
  }
  section {
    width: 35em;
    margin: 4em auto;
    padding: 0;
  }
  section h1 {
    font-size: 1.75rem;
  }
  section:not(:first-of-type) h1{
    margin: 2rem 0 .25rem;
  }
  section h2 {
    font-size: 1.5rem;
  }
  section h2:not(:first-of-type) {
    margin-top: 2rem;
  }
  footer p, footer ul {
    margin: .5em 0 0;
    padding: 0;
  }
  .social-nav li {
    margin: 0 .5em;
  }
}